<%#= render partial: "shared/nav" , locals: { title: "t-Shirt Shop - Produto Cadastrado" } %>
    <div class="alert alert-success" role="alert">
      Produto adicionado com sucesso!
    </div>
<%#= render partial: "shared/footer" %>