<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th class="text-center">Preço</th>
    <th class="text-center">Quantidade</th>
    <th class="text-center">#</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: "product", collection: @products_list_order_name %>
  </tbody>
</table>

<hr />

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Quantidade</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: "product", collection: @products_list_order_price %>
  </tbody>
</table>
