<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th class="text-center">Preço</th>
    <th class="text-center">Quantidade</th>
    <th class="text-center">#</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: "product", collection: @name_to_search %>
  </tbody>
</table>